.widget.widget-nopad
  .widget-header
    %i.icon-search
    %h3 Plan de Trabajo
    %a.btn{"data-toggle" => "modal", href: "#ModalRegistrarPlan", style: "float: right; margin: 6px;"}
      %i.icon-plus{style: "margin:0; "}
  .widget-content
    .widget.big-stats-container
      .widget-content
        %br/
        %form.form-horizontal
          %fieldset
            .control-group
              %label.control-label{for: "fecha1"} Buscar
              .controls
                %input#fechacheck{type: "checkbox"} 
                %label{style: "display: inline; margin:0 20px;"} Fecha
                %input#fecha1.span2.datepicker{style: "margin-right:20px;", type: "text"}/
                de
                %input#fecha2.span2.datepicker{style: "margin:0 20px;", type: "text"}/
                / %button.btn.btn-primary{type: "submit"} Buscar
              / /controls
            / /control-group
            .control-group
              %label.control-label
              .controls
                %input#mescheck{type: "checkbox"} 
                %label{style: "display: inline; margin:0 20px;"} Mes
                %select#mesSelect.span2{style: "margin-right:20px;"}
                  %option{value: "1"} Enero
                  %option{value: "2"} Febrero
                %input#aniocheck{type: "checkbox"}
                %label{style: "display: inline; margin:0 20px;"} Año
                %input#anio.span2{style: "margin-right:20px;", type: "text"}/
                %button.btn.btn-primary{type: "submit"} Buscar
              / /controls
            / /control-group
        %div{style:"width:100%; height: 40px;"}
          %a.btn{"data-toggle" => "modal", href: "#", style: "float: right; margin: 6px;"}
            %i.icon-file-text-alt{style: "margin:0; "}
            PDF
          %a.btn{"data-toggle" => "modal", href: "#", style: "float: right; margin: 6px;"}
            %i.icon-file-text-alt{style: "margin:0; "}
            Excel
        .span9
          %table.table.table-striped.table-bordered
            %thead
              %tr
                %th{rowspan: "4"} Mes
                %th Actvidades
                %th Fecha
                %th Red
                %th.td-actions Opciones
            %tbody
              %tr
                %td{rowspan: "4"} Mes
                %td http://www.egrappler.com/
                %td Fresh Web Development Resources
                %td http://www.egrappler.com/
                %td.td-actions
                  %a.btn.btn-success{href: "#ModalRegistrarPlan"}
                    %i.icon-edit
                    Editar
              %tr
                %td http://www.egrappler.com/
                %td Fresh Web Development Resources
                %td http://www.egrappler.com/
                %td.td-actions
                  %a.btn.btn-success{href: "#"}
                    %i.icon-edit
                    Editar
              %tr
                %td http://www.egrappler.com/
                %td Fresh Web Development Resources
                %td http://www.egrappler.com/
                %td.td-actions
                  %a.btn.btn-success{href: "#"}
                    %i.icon-edit
                    Editar
        .span3{style:"width:200px;"}
          .widget
            .widget-content
              %h3 Servicios
              %ul
                %li Días Domingos
                %li Reunión de 144
                %li Intimidad con Dios como iglesia
                %li Procesos de la Iglesia

  / Modal
  #ModalRegistrarPlan.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "ModalRegistrarPlanLabel", role: "dialog", tabindex: "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h3#ModalRegistrarPlanLabel Registrar
    .modal-body
      %br/
      %form#registrarPlan
        .span5{style:"width:430px;"}
          .form-horizontal
            %fieldset
              .control-group
                %label.control-label{for: "tipo_servicio"}
                  Tipo
                  %br/
                  Servicio
                .controls
                  %select#tipo_servicio.span2{name: "tipo_servicio"}
                    %option{value: "1"} Soltero
                    %option{value: "2"} Casado
                / /controls
              / /control-group
              .control-group
                %label.control-label{for: "actividad"} Actividad
                .controls
                  %input#actividad.span2{name: "actividad", type: "text"}/
                / /controls
              / /control-group
              .control-group
                %label.control-label{for: "mes"} Mes
                .controls
                  %select#mes.span2{name: "mes"}
                    %option{value: "1"} Soltero
                    %option{value: "2"} Casado
                  %button.btn{style: "margin-left:20px;"}
                    %i.icon-plus
                / /controls
              / /control-group
        / /span5
        .span5{style:"width:430px;"}
          .form-horizontal
            %fieldset
              .control-group
                %label.control-label{for: "red", style: "width:auto;"} Red
                .controls
                  %select#red.span2{name: "red"}
                    %option{value: "1"} Soltero
                    %option{value: "2"} Casado
                / /controls
              / /control-group
              .control-group
                %label.control-label{for: "sexo", style: "width:auto;"} 
                  Rango Fecha
                .controls
                  %input#fechareg1.datepicker{style: "margin-right:20px;width:80px;", type: "text"}
                  de
                  %input#fechareg2.datepicker{style: "margin:0 20px;width:80px;", type: "text"}
                / /controls
              / /control-group
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th T.S.
              %th Actividades
              %th Mes
              %th Red
              %th Fecha
              %th.td-actions
          %tbody
            %tr
              %td Servicio 1
              %td Actividad 1
              %td Mes 1
              %td Red 1
              %td De 28/10 al 30/10
              %td.td-actions
                %a.btn.btn-danger{href: "#"}
                  %i.icon-remove
              
    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancelar
      %button.btn.btn-primary{type: "submit"} Guardar
  / Modal