.control-group
  %label.control-label{for: "dep"} Departamento
  .controls
    %select#dep.span2{name: "dep", style: "margin-right:20px"}
    %label{style: "display: inline; margin-right:20px;"}Provincia
    %select#prov.span2{name: "prov", style: "margin-right:20px;"}
    %label{style: "display: inline; margin-right:20px;"}Distrito
    %select#dist.span2{name:"dist"}


